.description {
    text-align: left;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    padding: 20px;
}
h1 {
    border: 3px solid brown;
    text-align: center;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 300px;
    border-width: 20px;

    background-color: brown;
    font-weight: bold;
}
h2 {
    border:brown;
    text-align: center;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid brown;
    background-color: brown;
    font-weight: bold;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.visual {
    display: block;
}
a:hover {
    background-color: cyan;
    padding: 20px;
    color: blue;
    text-decoration: none;
}


